#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_Monyxd += debian/examples/*
DEB_INSTALL_MANPAGES_Monyxd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Monyxd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Monyx-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Monyx-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/Monyxd:
	chmod +x $(cdbs_curdestdir)usr/bin/Monyxd
binary-post-install/Monyx-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Monyx-qt
